body {
    background: url("herringbone.png");
}

h1, h2 {
    font-family: 'Georgia', Times, 'Times New Roman', serif;
}

h2 {
    color: #4aaaa5;
}

.body-border {
    margin: -10px;
    display: block;
    box-sizing: border-box;
    background-color: white;
    border: 1px solid #cccccc;
    height: 144px;
    width: 1428px;
    padding-top: 25px;
    padding-bottom: 100px;
    position: relative;
}

#main-content {
    margin-left: auto;
	margin-right: auto;
	max-width: 960px;
	float: none;
    box-sizing: border-box;
    background-color: white;
    height: 420px;
    width: 960px;
    padding-top: 10px;
    padding-left: 25px;
    padding-right: 25px;
    margin-bottom: 25px;
    border: 1px solid #cccccc;
}

a{
    color: #cccccc;
}

#about-link {
    border-right: 1px solid #cccccc;
    padding-right: 5px;
    padding-left: 5px; 
}

#portfolio-link {
    border-right: 1px solid #cccccc;
    padding-right: 5px;
}

.links {
    text-align: right;
    padding-right: 25px;
}

h1 {   
    font-size: 37.8px;
    color: white;
}

div.name {
    display: inline-table;
    border: 1px solid #4aaaa5;
    background-color: #4aaaa5;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 4px;
    text-align: center;
    margin-left: 232px;
    margin-bottom: 30px;
}

#me {
    float: left;
    padding-right: 10px;
}

#baxter {
    float: right;
    padding-top: 30px;
}

p {
    padding-top: 8px;
    color: #444444;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    line-height: 25px;
}

footer {
    text-align: center;
    border: 1px solid #666666;
    background-color: #666666;
}

#foot-font {
    color: #ffffff;
}

#foot {
    border: 5px solid #4aaaa5;
    background-color: #4aaaa5;
    margin-bottom: -1px;
}

form {
    font-size: 30px;
    color: #4aaaa5;
}
ul {
    list-style: none;
    padding-bottom: 10px;
}

label {
    color: #666666;
}

input {
    height: 20px;
    width: 800px;
}

textarea {
    height: 100px;
    width: 800px;   
}

button {
    height: 35px;
    width: 80px;
    background-color: #4aaaa5;
    color: white;
}

div.img-block {
    position: relative;
    width: 200px;
    display: inline-grid;
}

div.img-block img {
    width: 200px;
}

div.img-block p {
    position: absolute;
    bottom: 10px;
    left: 0;
    width: 200px;
    z-index: 10;
    background-color: #4aaaa5;
    color: white;
    padding: 12px;
    text-align: center;
    box-sizing: border-box;
}
