body {
    background: url("herringbone.png");
}

h1, h2 {
    font-family: 'Lobster', cursive;
}

h2 {
    color: #4aaaa5;
}

.body-border {
    margin:0;
    display: block;
    box-sizing: border-box;
    background-color: white;
    border: 1px solid #cccccc;
    height: 144px;
    width: 1400px;
    padding-top: 25px;
    padding-bottom: 100px;
    position: relative;
}


#main-content {
    margin-left: auto;
	margin-right: auto;
	max-width: 960px;
	float: none;
    box-sizing: border-box;
    background-color: white;
    height: 420px;
    width: 960px;
    padding-top: 10px;
    padding-left: 25px;
    padding-right: 25px;
    margin-bottom: 25px;
    border: 1px solid #cccccc;
}

a{
    color: #cccccc;
}

#about-link {
    border-right: 1px solid #cccccc;
    padding-right: 5px;
    padding-left: 5px; 
}

#portfolio-link {
    border-right: 1px solid #cccccc;
    padding-right: 5px;
}

.links {
    text-align: right;
    padding-right: 25px;
}

h1 {
    
    font-size: 50px;
    display: inline-table;
    border: 1px solid #4aaaa5;
    background-color: #4aaaa5;
}

div.name {
    text-align: center;
    
}

#me {
    float: left;
    padding-right: 10px;
}

#baxter {
    float: right;
    padding-top: 30px;
}

p {
    padding-top: 8px;
    color: #444444;
    font-family: 'Source Sans Pro', sans-serif;
    line-height: 25px;
}

footer {
    text-align: center;
    border: 1px solid #666666;
    background-color: #666666;
}

#foot-font {
    color: #ffffff;
}

#foot {
    border: 5px solid #4aaaa5;
    background-color: #4aaaa5;
    margin-bottom: -1px;
}